@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap&');
@import 'tailwindcss';

@theme {
  --font-teko: 'Teko', sans-serif;
  --font-vice: 'Fascinate', sans-serif;
  --font-montserrat: 'Mont', sans-serif;
}
